---
import BlogPostLayout from "../../../../../layouts/BlogPostLayout.astro";

export const frontmatter = {
  title: "GyakubaricEffects (仮) を支えるCSS哲学",
  synopsis: "あなたはCSSについて気持ちがありますか？僕はあります",
};
---

<BlogPostLayout frontmatter={frontmatter}>
  <section>
    <h1>はじめに</h1>
    <p>本ブログのCSSを支え</p>
  </section>
</BlogPostLayout>
